@import "tailwindcss";

/* Inigo Tokens */
:root {
  --inigo-green: #4F7942;
  --earth-brown: #6E5849;
  --soft-sand: #fdf9f2;
  --warm-clay: #c08552;
  --deep-earth: #2e2b28;
}

@theme {
  --color-inigo-green: #4F7942;
  --color-earth-brown: #6E5849;
  --color-soft-sand: #fdf9f2;
  --color-warm-clay: #c08552;
  --color-deep-earth: #2e2b28;
}

html, body {
  background: var(--soft-sand);
  color: var(--deep-earth);
  font-family: Arial, Helvetica, sans-serif;
}
